<div id="tabbed">
  <tabs>

    <tab name="active pets" v-bind:selected="true">
      <%= render :partial => "pets_list", locals: {pets: @active_pets, state: 'active'} %>
    </tab>

    <tab name="inactive pets">
      <%= render :partial => "pets_list", locals: {pets: @inactive_pets, state: 'inactive'} %>
    </tab>

  </tabs>
</div>

<p>&nbsp;</p>
<%= render :partial => "partials/add_new_object", locals: {model_name: 'pet'} %>