<div class="row valign-wrapper" id="topbar">
  <div class="col s1">
    <%= link_to(image_tag('logos/logo_v2_80x80.png'), home_path) %>
  </div>
  <div class="col s8">
    <!-- <h2>Pittsburgh Animal Treatment Services</h2> -->
    <h2>Pgh Animal Treatment Services</h2>
  </div>
  <div class="col s2">
    <%= render partial: 'partials/search_form' %>
  </div>
  <div class="col s1">
    &nbsp;
  </div>
</div>
