<h5>Search result for term <em>'<%= @query %>'</em> resulted in <%= pluralize(@total_hits, 'hit') %></h5>
<p class="supertiny">&nbsp;</p>

<%= render partial: 'basic_search' %>
<%# render partial: 'multisearch' %>